<div layout="column" layout-fill>
	<ng-include src="'shared/templates/toolbar.html'"></ng-include>
	<section layout="row" flex>
		<ng-include src="'shared/templates/sidenav.html'"></ng-include>
		<section layout="row" class ="userProfileSection">
			<div layout="column" layout-fill>
				<md-content layout-padding>
					<div class="userProfileContent">
						<h2>User Profile</h2>
						<form name="userProfileForm">
							<div class="userProfileCompanyNameSection">
								<div layout-gt-xs="row">
									<md-input-container class="md-block" flex-gt-xs="">
										<label>Company (Disabled)</label>
										<input ng-model="user.company" disabled="">
									</md-input-container>
								</div>
							</div>
							<div class="userProfileNameSection">
								<div layout-gt-sm="row">
									<md-input-container class="md-block" flex-gt-sm="">
										<label>First Name</label>
										<input required name='firstName' ng-model="user.firstName">
										<div ng-messages="userProfileForm.firstName.$error">
											<div ng-message="required">This is required.</div>
										</div>
									</md-input-container>
									<md-input-container class="md-block" flex-gt-sm="">
										<label>Last Name</label>
										<input required name='lastName' ng-model="theMax">
										<div ng-messages="userProfileForm.lastName.$error">
											<div ng-message="required">This is required.</div>
										</div>
									</md-input-container>
								</div>
							</div>
							<div class="userProfileEmailBdSection">
								<div layout-gt-sm="row">
									<md-input-container class="md-block" flex-gt-sm="" class="emailSection">
										<label>Email</label>
										<input required name='email' ng-model="user.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
										<div ng-messages="userProfileForm.email.$error" role="alert">
											<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
												Your email must be between 10 and 100 characters long and should be a valid email address.
											</div>
										</div>
									</md-input-container>
									<div class="userProfileDropdownStyle">
										<md-datepicker ng-model="user.birthday" md-placeholder="Birthday" class="ng-pristine ng-valid ng-isolate-scope ng-empty ng-valid-mindate ng-valid-maxdate ng-valid-filtered ng-valid-valid ng-touched bdSection" tabindex="-1" aria-invalid="false" style="">
											<button class="md-datepicker-button md-icon-button md-button md-ink-ripple" type="button" ng-transclude="" tabindex="-1" aria-hidden="true" ng-click="ctrl.openCalendarPane($event)"><i class="material-icons">date_range</i></button>
											<div class="md-datepicker-input-container" ng-class="{'md-datepicker-focused': ctrl.isFocused}">
												<input class="md-datepicker-input" aria-haspopup="true" ng-focus="ctrl.setFocused(true)" ng-blur="ctrl.setFocused(false)" placeholder="Birthday" size="3">
												<button class="md-datepicker-triangle-button md-icon-button md-button" type="button" ng-transclude="" md-no-ink="" ng-click="ctrl.openCalendarPane($event)" aria-label="Open calendar">
													<div class="md-datepicker-expand-triangle ng-scope"></div>
												</button>
											</div>
											<div class="md-datepicker-calendar-pane md-whiteframe-z1" id="md-date-pane119">
												<div class="md-datepicker-input-mask">
													<div class="md-datepicker-input-mask-opaque"></div>
												</div>
												<div class="md-datepicker-calendar"></div>
											</div>
										</md-datepicker>
									</div>
								</div>
							</div>
							<div layout-gt-sm="row">
								<md-input-container class="md-block UserProfileAddressLineOne">
									<label>Address Line1</label>
									<input required ng-model="user.addressLine1" name="addressLine1">
									<div ng-messages="userProfileForm.addressLine1.$error">
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
								<md-input-container class="md-block UserProfileAddressLineTwo" flex-gt-sm="">
									<label>Address Line2</label>
									<input required name='addressLine2' ng-model="user.addressLine2">
									<div ng-messages="userProfileForm.addressLine2.$error">
										<div ng-message="required">This is required.</div>
									</div>
								</md-input-container>
							</div>
							<div layout-gt-sm="row" class="userProfileCityZipStateSection">
									<md-input-container class="md-block" flex-gt-sm="">
										<label>City</label>
										<input required name="city" ng-model="user.city">
										<div ng-messages="userProfileForm.city.$error">
											<div ng-message="required">This is required.</div>
										</div>
									</md-input-container>

									<md-input-container class="md-block userProfileDropdownStyle" flex-gt-sm="">
										<label>State</label>
										<md-select ng-model="user.state">
											<md-option ng-repeat="state in states" value="{{state.abbrev}}">
											{{state.abbrev}}
											</md-option>
										</md-select>
									</md-input-container>

									<md-input-container class="md-block" flex-gt-sm="">
										<label>Postal Code</label>
										<input name="postalCode" ng-model="user.postalCode" required='' ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

										<div ng-messages="userProfileForm.postalCode.$error" role="alert" multiple="">
											<div ng-message="required" class="my-message">You must supply a postal code.</div>
											<div ng-message="pattern" class="my-message">This code is invalid
											</div>
											<div ng-message="md-maxlength" class="my-message">Your code is too long
											</div>
										</div>
									</md-input-container>
							</div>
						</form>
						<div flex class="userProfileSaveButton">
							<md-button>Save</md-button>
						</div>
					</div>
				</md-content>
			</div>
		</section>
	</section>
	<ng-include src="'shared/templates/footer.html'"></ng-include>
</div>